In [3]:

import numpy as np
from numpy.random import randn
from pandas import Series,DataFrame
import pandas as pd
# New import for matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv("ship_data.csv")
no_of_male=(df["Gender"]=="male")
print "Passengers on the basis of Gender:"
print "Number of males is :"
print len(df[no_of_male])
print "Number of females is :"
print len(df)-len(df[no_of_male])
class_1=(df["Class"]==1)
class_2=(df["Class"]==2)
class_3=(df["Class"]==3)
print "Passengers on the basis of Class:"
print "Number of passengers of class 1 is :"
print len(df[class_1])
print "Number of passengers of class 2 is :"
print len(df[class_2])
print "Number of passengers of class 3 is :"
print len(df[class_3])
no_of_children=(df["Age"]<16)
print "Number of children (Age<16) on the ship ="
print len(df[no_of_children])
class1_children=(df["Class"] == 1) & (df["Age"] < 16)
class2_children=(df["Class"] == 2) & (df["Age"] < 16)
class3_children=(df["Class"] == 3) & (df["Age"] < 16)
print "Number of children in class 1 ="
print len(df[class1_children])
print "Number of children in class 2 ="
print len(df[class2_children])
print "Number of children in class 3 ="
print len(df[class3_children])
df.fillna(df.mean())
no_of_passengers_alone=(df["Parents Count"]==0)&(df["Siblings Count"]==0)
print "Replaced all the missing values using df.fillna and df.mean functions"
print "Number of Passengers travelling alone :"
print len(df[no_of_passengers_alone])
print "Number of passengers travelling with family (Siblings or Parents) :"
print len(df)-len(df[no_of_passengers_alone])
class1_survived=(df["Class"] == 1) & (df["Survived"] == 1)
class2_survived=(df["Class"] == 2) & (df["Survived"] == 1)
class3_survived=(df["Class"] == 3) & (df["Survived"] == 1)
print "Percentage of Passengers survived in each class is as follows"
print "Percentage of Passengers survived in class 1 :"
print (len(df[class1_survived])*100)/len(df[class_1])
print "Percentage of Passengers survived in class 2 :"
print (len(df[class2_survived])*100)/len(df[class_2])
print "Percentage of Passengers survived in class 3 :"
print (len(df[class2_survived])*100)/len(df[class_3])
print "Percentage of Passengers survived based on Gender :"
males_survived=(df["Gender"] == "male") & (df["Survived"] == 1)
females_survived=(df["Gender"] == "female") & (df["Survived"] == 1)
print "Percentage of males survived :"
print (len(df[males_survived])*100)/len(df[no_of_male])
print "Percentage of females survived :"
print (len(df[females_survived])*100)/(len(df)-len(df[no_of_male]))
no_survived=(df["Survived"]==1)
print "Percentage of passengers survived who are alone"
#print (len(df[no_of_passengers_alone])*100)/(len(df))

percent_survived_alone=(df["Survived"]==1)&((df["Parents Count"]==0)&(df["Siblings Count"]==0))
print (len(df[percent_survived_alone])*100)/len(df[no_of_passengers_alone])
print "Percentage of passengers who were with family members and survived"
print ((len(df[no_survived])-len(df[percent_survived_alone]))*100)/(len(df)-len(df[no_of_passengers_alone]))

print "As the percentage of people who were with family members and survived is greater that the percentage of people who are"
print "alone and survived we can Conclude that having a family member increased the chance of survival"

Passengers on the basis of Gender:
Number of males is :
577
Number of females is :
314
Passengers on the basis of Class:
Number of passengers of class 1 is :
216
Number of passengers of class 2 is :
184
Number of passengers of class 3 is :
491
Number of children (Age<16) on the ship =
84
Number of children in class 1 =
7
Number of children in class 2 =
19
Number of children in class 3 =
58
Replaced all the missing values using df.fillna and df.mean functions
Number of Passengers travelling alone :
537
Number of passengers travelling with family (Siblings or Parents) :
354
Percentage of Passengers survived in each class is as follows
Percentage of Passengers survived in class 1 :
62
Percentage of Passengers survived in class 2 :
47
Percentage of Passengers survived in class 3 :
17
Percentage of Passengers survived based on Gender :
Percentage of males survived :
18
Percentage of females survived :
74
Percentage of passengers survived who are alone
30
Percentage of passengers who were with family members and survived
50
As the percentage of people who were with family members and survived is greater that the percentage of people who are
alone and survived we can Conclude that having a family member increased the chance of survival

In [4]:
df.loc[df.Gender == 'male','Gender'] = 0
df.loc[df.Gender == 'female','Gender'] = 1

In [5]:
df.loc[df.Embarked == 'New York','Embarked'] = 0
df.loc[df.Embarked == 'Los Angeles','Embarked'] = 1
df.loc[df.Embarked == 'Chicago','Embarked'] = 2

In [6]:
df['Gender'] = df['Gender'].convert_objects(convert_numeric=True)
df['Embarked'] = df['Embarked'].convert_objects(convert_numeric=True)

/home/sanju/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':
/home/sanju/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  from ipykernel import kernelapp as app

In [12]:
df.head()

,Passenger ID,Class,Name,Gender,Age,Siblings Count,Parents Count,Fare,Embarked,Survived
0,1,3,Alexander Harris,0,22.0,1,0,7250.0,0.0,0
1,2,1,Frank Parsons,1,38.0,1,0,71283.3,1.0,1
2,3,3,Anthony Churchill,1,26.0,0,0,7925.0,0.0,1
3,4,1,Alexandra Hughes,1,35.0,1,0,53100.0,0.0,1
4,5,3,Joan Fraser,0,35.0,0,0,8050.0,0.0,0

In [13]:
features = ['Class','Age','Siblings Count','Parents Count','Fare','Embarked','Gender']
target = ['Survived']

In [14]:
from sklearn.model_selection import train_test_split
Xtrain,Xtest=train_test_split(df,test_size=0.10)

In [15]:
from xgboost import XGBClassifier
model = XGBClassifier()
final_model = XGBClassifier()

In [16]:
model.fit(Xtrain[features],Xtrain[target])

/home/sanju/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:95: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/sanju/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:128: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=1,
       gamma=0, learning_rate=0.1, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=100, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=True, subsample=1)

In [17]:
print(model.score(Xtest[features],Xtest[target]))

0.877777777778

In [22]:
# training on the whole training data
final_model.fit(df[features],df[target])
# use final_model to predict on the test data

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=1,
       gamma=0, learning_rate=0.1, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=100, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=True, subsample=1)